/*Basic styles
 * Coded by Lauren Cunningham
 * This cascading-style-sheet centers out canvas and makes the page background black
 */

canvas {
	margin: auto;
    display: block;
    width: 600px;
}

body{
	background: #000000;
}